.notification {
    position: fixed;
    top: 70px;
    right: calc(50% - 720px + 30px);
    padding: 8px 16px 8px 16px;
    background: #EB5C2E;
    border-radius: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    display: none;
}

.notification-text {
    color: #fff;
    font-size: 14px;
}

@media (max-width: 1440px) {
    .notification {
        right: 30px;
    }
}