.notification {
    position: fixed;
    top: 70px;
    right: calc(50% - 720px + 30px);
    padding: 12px 24px 12px 24px;
    background: #fff;
    border-radius: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    display: none;
    border: 1px solid #eee;
    box-shadow: 0px 0px 10px #eee;
}

.notification-text {
    color: #666;
}

@media (max-width: 1440px) {
    .notification {
        right: 30px;
    }
}

@media (max-width: 700px) {
    .notification {
        right: 0px;
        transform: translateX(-50%);
    }
}