.order-history-none-guide-container {
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    border-bottom: 1px solid #eee;
}

.order-history-none-guide {
    color: #aaa;
}