.mobile-modal {
    position: fixed;
    left: 0;
    bottom: -100vh;
    background: #fff;
    border-radius: 15px;
    border: 1px solid #ECECEC;
    box-shadow: 0px 4px 4px #E2E2E2;
    width: 100%;;
    position: absolute;
    padding: 15px;
    min-height: 30vh;
    z-index: 4;
}

.mobile-modal.on {
    bottom: 0;
    transition: 0.5s;
}

.mobile-modal.off {
    bottom: -100vh;
    transition: 1s;
}

.mobile-modal-close-button-container {
    position: absolute;
    bottom: 15px;
    left: 15px;
}

@media (min-width: 700px) {
    .mobile-modal-background {
        display: none;
    }
}
