.cart-modal-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    margin-top: 20px;    
    min-width: 350px;
}

.cart-modal-row.top {
    justify-content: space-between;
}

.cart-modal-row.middle {
    justify-content: flex-end;
    border-bottom: 1px solid #ddd;
    padding-bottom: 20px;
}

.cart-modal-row.bottom {
    justify-content: flex-end;
    padding-bottom: 40px;
}

.cart-modal-item-name {
    color: #111;
}

.cart-modal-item-price {
    color: #aaa;
}