.shipping-edit-modal {
    width: 350px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.shipping-edit-modal-title {
    color: #aaa;
}

.shipping-edit-modal-input {
    width: 100%;
    padding-top: 7px;
    padding-bottom: 7px;
    font-size: 16px;
    margin-top: 8px;
    margin-bottom: 15px;
    text-indent: 10px;
    border-radius: 6px;
    border: 1px solid #eee;
    color: #444;
    outline: none;
}

.shipping-edit-modal-input:focus {
    outline: 2px solid #EB5C2E;
}

.shipping-edit-modal-input.disabled {
    color: #777;
}

.shipping-edit-modal-input.address {
    margin-bottom: 0px;
}

.shipping-edit-modal-close-button-container {
    width: 100%;
}