.underline-nav-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    max-width: 600px;
    border-bottom: 1px solid #ccc;
}